module.exports = {
    apps : [
    {%- for item in items %}
        {
            name: "{{item.ins_name}}",
            script: "./main.js",
            watch: false,
            env_prod: {
                "PORT": {{item.port}},
                "NODE_ENV": "prod",
                "HOST": "{{server_ip}}",
                "INS_NAME": "{{item.ins_name}}",
                "USER_DIR": "temp/{{item.ins_name}}"
            }
        },
    {%- endfor %}
    ]
}
